/*changes to be made
- fix buttons so they are centered on page regardless of size
-fix spacing between name of animal and image
-make buttons look more "3D like"
-make email button look nicer
-make font look more sleek
-make header sticky
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
img{
  max-width: 350px;
  margin: auto;
  padding: 5px;
}

header{
  background-image: white;
  background-size: cover;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  position: sticky;
  top: 0;
  width: 100%;
}
.headerscroll {
  background-image: url("../../final_project_template/pup.jpeg");
  background-size: cover;
}
.footerscroll {
  background-image: url("../pup.jpeg");
  background-size: cover;
}
a{
  text-decoration: none;
  color: #040a10;
}
a:hover{
  background-color: #7A5252;
  transition: all .5s ease-in;
  opacity:.5;
  color: #ffffff;
}
ul{
  text-align: center;
}
li{
  color: #474973;
  font-size: 25px;
  display: inline-block;
  margin: 5px;
}
p a{
  font-size: 25px;
}
p{
  font-size: 20px;
  padding: 5px;
  padding-bottom: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 30px;
}
.slideright{
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
.slideleft{
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  display: block;
}
/*header a{
  padding: 10px 20px;
  width: 100%;
  font-size: 22px;
}*/

  nav{
  width: 10%;
  height: 100%;
  background-color:	#dfdfdf;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 20px;
}
nav a{
  display: block;
  text-align: justify;
  padding-left: 20px;
  padding: 5px 5px;
  position: relative;
  top: 40px;
  border: 1px solid #ffffff;
}

.close{
  position: absolute;
  top: 0px;
  right: 20px;
  text-transform: none;
  font-size: 20px;
  margin-bottom:15px;
  border: none;
}
main{
  background: #fffbd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #b20a2c, #fffbd5);
  background: -o-linear-gradient(left, #b20a2c, #fffbd5);
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 900px;
}
.name{
  font-size: 55px;
  text-align: center;
  padding:10px;
}
.about{
  position: relative;
  padding-bottom: 10px;

}
.content{
  border:none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content p{
  font-size: 25px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 20px;
  position: relative;
  bottom: 50px;
  top: 40px;
}
.dogmatch{
  position: absolute;
  z-index: 10;

}
.catmatch1{
  position: absolute;
  z-index: 9;
}
.dogmatch3{
  position: absolute;
  z-index: 8;
}
.dogmatch4{
  position: absolute;
  z-index: 7;
}
.headerimg{
  background-image:
}
div{
  border: 3px #44545E solid;
  margin:0;
  border-radius: 30px;
  background-color: #FDFBF9;
  max-width: 700px;
  margin: 20px;
}

h3{
  color: #FDFBF9;
  margin 10px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}

.dislike i{
  border: 3px #000000 solid;
  border-radius: 50px;
  padding: 20px;
}
.buttons{
  border:none;
  text-align: center;
}
i:hover{
  background-color: #dfdfdf;
  transition: all 3ms ease-in;
  transform:scale(1.1, 1.1);
}
.goaway{
  transition: all .5s ease-in;
  transform: translateX(-100%);
}

button{
  border: none;
  display: grid
  grid-template-columns: 1fr 1fr;
  background: none;
  padding-left: 20px;
  font-size: 50px;
}
.heart i{
  color:#AD3434;
  border: 2px #AD3434 solid;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 10px;
}
footer{
  font-size: 14px;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: #ffffff;
}
hr{
  border: 2px #dfdfdf solid;
}

.catmatch1, .dogmatch2, .dogmatch3, .dogmatch4{
  display: none;
}
.hamburger {
  cursor: pointer;
  display:block;
  text-align:center;
  cursor: pointer;
  border: none;
  opacity: 1;

}
.line{
  width: 25px;
  margin-bottom: 3px;
}
.display{
  transition: all .5s ease-in
  transform: translateX(100%);
}

/* Fix for responsive images */

@media screen and (max-width: 600px) {
  div {
      width: 80%;
      display:inline-block;
    }
    .content{
      display:block;
    }
    img{
      width:85%;
      display:flex;
      align-items: center;
    }
    ul{
      display:none;
    }
    a{
      display:inline-block;
    }
    footer {
      position:fixed;
      width: 100%
      height: 50px;
      z-index: 12;
    }
    header {
      text-align: left;
      position: sticky;
      top: 0;
    }
    li, p, a{
      font-size: 20px;
      display: block;
    }
    p a{
      font-size: 20px;
    }
    li{
      text-align: left;
      padding: 0;
    }
    h1{
      text-align: center;
    }
    nav{
      width: 20%;
    }

}
